.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.form{
  padding: 10px;
}
input {
  padding: 2px 4px;
  font-size: 20px;
  border-radius:5px;
  margin: 5px;
}
.btn {
  padding: 7px;
 margin: 5px;
   cursor: pointer;
     text-transform: capitalize;
     background-color: hsl(205, 78%, 60%);
     color: azure;
       border-color: transparent;
         border-radius:5px;

}
input.error {
  border: 2px solid red;
}
.colours {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}
.colour{
   padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none
}
.percentvalue {
  margin-bottom: 0;
  color: gray;
}
.colourvalue {
  color: gray;
  margin-bottom: 0;
}